<mat-toolbar color="primary">
  <span><i>my</i>TODO</span>
</mat-toolbar>

<div class="wrapper">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <formly-form [fields]="fields" [options]="options" [form]="form" [model]="model"></formly-form>
    <button mat-raised-button type="submit" color="primary">Dodaj zadanie</button>

    <button mat-raised-button type="reset" color="warn">Zakończ</button>
  </form>
  <div class="board-wrapper">

    <div class="board-columns" cdkDropListGroup>
      <div class="board-column" *ngFor="let column of board.columns">
  
        <div class="column-title">
          {{ column.name }}
        </div>
  
        <div class="tasks-container" cdkDropList [cdkDropListData]="column.tasks" (cdkDropListDropped)="drop($event)">
          <div class="task" *ngFor="let item of column.tasks" cdkDrag>
            {{ item }}
          </div>
        </div>
      </div>
  
    </div>
  
  </div>
</div>
